/*
* @Author: ameng
* @Date:   2016-03-23 10:25:34
* @Last Modified by:   ameng
* @Last Modified time: 2016-03-28 14:28:09
*/
body{font: 14px/24px "Oxygen",Arial,"Hiragino Sans GB","Microsoft YaHei","微软雅黑","STHeiti","WenQuanYi Micro Hei",SimSun,sans-serif;background:#ffffff url("body.png") no-repeat center top;}
ul,li{margin:0;padding:0;list-style: none;}.more.pull-right{font-size: 12px;color:#999;}.more:hover{color:red;}
a{color:#555555;}/*white-space: nowrap;overflow: hidden;  text-overflow: ellipsis;*/
a:hover{color:#ff0000;text-decoration: none;}
.fl{float: left;}
.fr{float: right;}
.c0,.c15,.c10{visibility: hidden;display: block;font-size: 0;clear: both;}
.c15{height: 15px;}
.c10{height: 10px;}
.c0{height: 0px;}
.m-b-15{margin-bottom: 15px;}
.fa-3{font-size: 3.5em;}
h1,h2,h3,h4,h5,h6{margin:0;padding:0;font-family: "Microsoft YaHei","微软雅黑";}
.more{color:#aaa;margin-left:10px;}
.more:hover,.more-xq:hover{color:red;}
.more-xq{color:#0280c5;}
.more-hidden{display:block;white-space: nowrap;overflow: hidden;  text-overflow: ellipsis;}
.dashed{width:100%;height:5px;border-bottom:1px dashed #eaeaea;}
a[href], input[type='submit'], input[type='image'], label[for], select, button, .pointer , .list.lh24.f14{
       cursor: pointer;}
::selection{
	color: white;
	background-color: red;
}
::-moz-selection {
	color: white;
	background-color: red;
}

.banner{
	height:230px;
}
.header{
	width: 1020px;margin:0 auto;padding:10px;background:#ffffff;
}
.header-tt{
	height:80px;
}
.header-tt .logo{
	width:220px;
}
.header .header-hr{
	width:1000px;
	height:13px;
	background:url("header-hr.jpg") no-repeat;
}
.header-tt .header-xx{
	width:500px;
}
.header-tt .header-xx .tianqi{
	margin-top:10px;
	height:32px;
}
.header-tt .sousuo{
	margin-top:20px;
}
/*nav*/
.header-nav ul{
	margin-top:3px;
	padding:10px 0;
	border-top:1px solid #efefef;
	border-bottom:1px solid #efefef;
}
.nav>li>a{
	padding:5px 8px;
}
.nav>li>a>i{
	color:#3fb5e5;
	margin:3px;
}
.b-l{padding-left:10px;border-left:1px solid #eaeaea;}
.ad1,.ad2{
	width:495px;
	height:60px;
}
.wangqun,.links {
	width:100%;
	height:40px;
	border:1px solid #eaeaea;
	line-height: 40px;
}
.wangqun span{
	width:100%;
	height:40px;
	padding-left:20px;
	margin-right: 20px;
	border-right:1px solid #eaeaea;
}
.wangqun button{
	padding:0 10px;
	margin:0 10px;
}
.wangqun span a{
	padding:0 15px;
}
/**今日头条**************/
.box-ty{
	width:1020px;
	padding:0 10px;
	margin: 0 auto;
}
.toutiao .daytt{
	width:660px;
	height:100px;
	overflow:hidden;
}
.toutiao .daytt span{
	width:660px;
	height:30px;
	line-height:30px;
	display:block;
}
.toutiao .daytt h1{
	width:660px;
	margin:15px 0;
	font-weight: 700;
}
.toutiao .daytt h1,.toutiao .daytt h1 a{
	color:#033266;
}
.toutiao .daytt span a{
	width:280px;
	height:30px;
	float: left;
	margin-right:10px;
	text-align: center;
}
.toutiao .daytt span .more-tt{
	width: 80px;
	float: right;
	margin-right: 0;
}
.toutiao .lingdao{
	width:310px;
	height:100px;
}
.toutiao .lingdao-con{
	width:152px;
	height:90px;
	background:#ffeed0;
}
.toutiao .lingdao-con img{
	margin:10px 2px;
}
.toutiao .lingdao-con span{
	margin-top:20px;
	width:75px;
}
/********************焦点幻灯**********************************/
.box-left{
	width:660px;
}
.box-right{
	width:310px;
}
/**************/
.hd{
	width:320px;
	height:210px;
}
/*通知公告*/
.tongzhi{
	width:320px;
	height:200px;
}
/*要闻*/
.yaowen{
	width:320px;
	height:420px;
}
.list li a{
	width:100%;
	height:30px;
	line-height:30px;
}
.list-a-font.more-hidden{
	font-weight: 700;
	color:#0280c5;
	font-size: 16px;
}
.list-a-font.more-hidden:hover{
	color:red;
}
/*标题*/
.title{
	height:40px;
	line-height: 40px;
	border-bottom:1px solid #eaeaea;
}
.title h2{
	padding:0 5px;
	font-size: 22px;
	height:40px;
	line-height: 40px;
	color:#0280c5;
	border-bottom:1px solid #0280c5;
}
.title h2 a{
	color:#0280c5;
}
.title h2:hover{
	color:red;
	border-bottom:1px solid red;
}
.title h2:hover a{
	color:red;
}
/*微生活*/
.weishenghuo{
	width:310px;
	height:420px;
}
.weishenghuo ul li h4 a{
	width:100%;
	height:22px;
	line-height: 22px;
	font-size:14px;
	margin-bottom:5px;
	font-weight:600;
}
.weishenghuo ul li img{
	width:150px;
	height:80px;
}
.weishenghuo ul li p{
	width:150px;
	font-size:12px;
	line-height: 21px;
}
/*视频*/
.fa.fa-video-camera{color:#b1080b;}
.shiping,.shiping-list{
	width:320px;
	height:260px;
	overflow:hidden;
}
.shiping li{
	width:150px;
	height:124px;
}
.shiping li span{
	position:absolute;
	width:150px;
	height:100px;
	display:block;
}
.shiping .shiping-ioc{
	width:150px;
	height:100px;
	line-height: 100px;
	text-align: center;
	position: relative;
	top:0;
	left:0;
	font-size: 50px;
	opacity: 0.4;
}
.shiping .shiping-ioc a{
	width:150px;
	height:100px;
	display:block;
}
.shiping .shiping-ioc:hover{
	opacity:0.8;
}
.shiping ul li{
	margin-bottom:6px;
}
.shiping p{
	margin:0;
	width:150px;
	white-space: nowrap;overflow: hidden;  text-overflow: ellipsis;
}
.shiping-list h4{
	line-height: 35px;
	font-weight: 700;
}
.shiping-list ul li{
	line-height: 26px;
}
.xiezhen ul{
	height:150px;
}
/*部门乡镇*/
.bumenxiangzheng,.bumendongtai,.xiangzhen,.guoneiguoji{
	height:200px;
}
.bumendongtai,.xiangzhen,.redian,.paihang{
	width:320px;
}
/*玩转玉屏*/
.wanzhuan-fr,.wanzhuan-fl,.wanzhuan-fl-bnt{
	width:320px;
}
/*******/
.wanzhuan-fl-img p{
	width:320px;
	height:35px;
	position:relative;
	top:-35px;
	background:#7bbfea;
	opacity:0.8;
	margin:0;
}
.wanzhuan-fl-img span{
	width:320px;
	height:35px;
	line-height: 35px;
	color:#fff;
	text-align: center;
	position:relative;
	top:-70px;
}
.wanzhuan-fl-img span a{
	width:320px;
	height:35px;
	color:#fff;
	display:block;
	font-size:16px;
}
.wanzhuan-fl-img:hover a{
	color:red;
}
.wanzhuan-fl-img{
	width:320px;
	height:175px;
}
/********/
.wanzhuan-fl-bnt{
	overflow:hidden;
	height:80px;
	padding-top:5px;
}
.wanzhuan-fl-bnt a{
	margin-bottom:10px;
	padding:5px 5px;
}
.wanzhuan-fr .list-a-font{
	text-align: center;
}
.wanzhuan-fr .list li{
	height:26px;
	line-height: 26px;
}
.wanzhuan-fr p{
	text-indent: 2em;
}
/***/
.wanzhuan-img{
	width:660px;
	height:85px;
	overflow:hidden;
}
.wanzhuan-img-con,.wanzhuan-img-con span a,.wanzhuan-img-con p{
	width:155px;
	height:85px;
	display:block;
	margin-right: 13px;
}
.wanzhuan-img .wanzhuan-img-con span a{
	text-align: center;
	color:#fff;
}
.wanzhuan-img .wanzhuan-img-con:hover p{
	position:relative;
	background:#7bbfea;
	top:-100%;
	opacity:0.8;
}
.wanzhuan-img .wanzhuan-img-con:hover p{
	position:relative;
	top:-100%;
}
.wanzhuan-img .wanzhuan-img-con:hover span{
	position:relative;
	top:-200%;
}
.wanzhuan-img .wanzhuan-img-con:hover span a{
	color:red;
}
.wanzhuan-img .fr{
	margin-right:0;
}
/******/
.wenyi img{
	width:150px;
	height:80px;
}
.wenyi p{
	width:150px;
	line-height: 20px;
	margin:0;
}
.weyi ul{
	height:100px;
}
.weyi ul li{
	height: 24px;
	line-height: 24px;
}
.wenxue img{
	width:100px;
	height:100px;
}
.wenxue ul{
	width:200px;
	height:100px;
}
/*友情链接*/
.links{
	width:1000px;
}
.links a{
	padding-right:10px;
}
.footer{width:1000px;margin:0 auto;}
.footer ul{width:100%;height:40px;background:#dcdcdc;}
.footer ul li{float: left;line-height: 40px;}
.footer ul li a{margin:0 25px;}